<%- include('../partials/head')%>

<body>
    <header> 
        <%- include('../partials/header-navbar')%>
    </header>

    <style>


                :root {
  --var: 20px;
}

#carrousel::-webkit-scrollbar {
  background-color: #D8D8D8;
}

#carrousel::-webkit-scrollbar-thumb {
  background-color: #1D1C1D;
  border-radius: calc(var(--var) * 2);
}

.flex {
  display: flex;
  gap: var(--var);
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.flex > div {
  flex: 0 0 100vw;
  height: 350px;
  display: flex;
  justify-content:center;
  align-items:center;
  color: #ffffff;
  font-size: calc(var(--var) * 3);
}

.flex div:nth-child(1) {
  background-color: #56C4FF;
} 
.flex div:nth-child(2) {
  background-color: #56C4FF;
} 
.flex div:nth-child(3) {
  background-color: #56C4FF;
} 
.flex div:nth-child(4) {
  background-color: #56C4FF;
} 
.flex div:nth-child(5) {
  background-color: #56C4FF;
} 
.flex div:nth-child(6) {
  background-color: #56C4FF;
} 
.flex div:nth-child(7) {
  background-color: #56C4FF;
} 

.pages {
  display: flex;
  justify-content: center;
  gap: var(--var);
  margin-top: calc(var(--var) * 2);
}

.pages > a {
  color: #000000;
  text-decoration: none;
  border-radius: var(--var);
  height: var(--var);
  width: var(--var);
  border: 1px solid #000000;
  text-align: center;
}

.pages > a:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all .75s ease-in-out;
}



    </style>



<div id="carrousel" class="flex">
    <!-- <div id="1">

        <div class="col-lg-8">
            <h5 class="mb-3">Longhorn Steakhouse</h5>
            <p>By Manas Gupta</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              The food was not worth spending a penny over. Never going back!
            </p>
          </div>

    </div>

    <div id="2">
       <div class="col-lg-8">
            <h5 class="mb-3">Longhorn Steakhouse</h5>
            <p>By Manas Gupta</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              The food was not worth spending a penny over. Never going back!
            </p>
          </div>
    </div>

    <div id="3"> <div class="col-lg-8">
        <h5 class="mb-3">Longhorn Steakhouse</h5>
        <p>By Manas Gupta</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          The food was not worth spending a penny over. Never going back!
        </p>
      </div>
    </div>
    
    <div id="4">
        <div class="col-lg-8">
            <h5 class="mb-3">Longhorn Steakhouse</h5>
            <p>By Manas Gupta</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              The food was not worth spending a penny over. Never going back!
            </p>
          </div>
    </div>

    <div id="5">
        <div class="col-lg-8">
            <h5 class="mb-3">Longhorn Steakhouse</h5>
            <p>By Manas Gupta</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              The food was not worth spending a penny over. Never going back!
            </p>
          </div>
    </div>

    <div id="6">
        <div class="col-lg-8">
            <h5 class="mb-3">Longhorn Steakhouse</h5>
            <p>By Manas Gupta</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              The food was not worth spending a penny over. Never going back!
            </p>
          </div>
    </div>

    <div id="7">
        <div class="col-lg-8">
            <h5 class="mb-3">Longhorn Steakhouse</h5>
            <p>By Manas Gupta</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              The food was not worth spending a penny over. Never going back!
            </p>
          </div>
    </div> -->
    <%
    var addinput = "";
    var index = 1;
    data.forEach(function(item)
    {
        addinput += '<div id="' + index + '"><div class="col-lg-8"><h5 class="mb-3">' + item.username + '</h5><p>By ' + item.username + '</p><p class="text-muted"><i class="fas fa-quote-left pe-2"></i>' + item.review + '</p></div></div>';
        index++;
    });
    %>
    <%- addinput %>
  </div>
  
  <div class="pages">
    <a href="#1">1</a>
    <a href="#2">2</a>
    <a href="#3">3</a>
    <a href="#4">4</a>
    <a href="#5">5</a>
    <a href="#6">6</a>
    <a href="#7">7</a>
  </div>




    <footer> 
        <%- include('../partials/footer')%>
    </footer>
</body>


</html>