<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on email:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="mailto: jela4948@colorado.edu" class="me-4 text-reset">
          <i class="email"></i> jela4948@colorado.edu
        </a>
        <a href="mailto: osrh2179@colorado.edu" class="me-4 text-reset">
          <i class="email"></i> osrh2179@colorado.edu
        </a>
        <a href="mailto: albashir.ali@colorado.edu" class="me-4 text-reset">
          <i class="email"></i> albashir.ali@colorado.edu
        </a>
        <a href="mailto: arba3926@colordo.edu" class="me-4 text-reset">
          <i class="email"></i>  arba3926@colordo.edu
        </a>
        <a href="mailto: magu6288@colorado.edu" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i> magu6288@colorado.edu
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Food Finder
            </h6>
            <p>
              Here to help you find the BEST restaurants near you.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Boulder, CO 80309, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              osrh2179@colorado.edu 
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 425 985 0914</p>
            <p><i class="fas fa-print me-3"></i> + 01 720 419 7314</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
